{% extends 'back.html.twig' %}

{% block title %}Liste des events{% endblock %}

{% block body %}

  <div class="main-content">

 <div class="page-content">
                <div class="container-fluid">
                  <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                                <h4 class="mb-sm-0">Listjs</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                        <li class="breadcrumb-item active">Listjs</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Add, Edit & Remove</h4>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div class="listjs-table" id="customerList">
                                        <div class="row g-4 mb-3">
                                            <div class="col-sm-auto">
                                                <div>
                                                     <a href= {{ path('app_Add') }} class="btn btn-success add-btn">
                                                     <i class="ri-add-line align-bottom me-1"></i> Ajouter
                                                     </a>
                                                    <button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="d-flex justify-content-sm-end">
                                                    <div class="search-box ms-2">
                                                        <input type="text" class="form-control search" placeholder="Search...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive table-card mt-3 mb-1">
                                            <table class="table align-middle table-nowrap" id="customerTable">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th scope="col" style="width: 50px;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                            </div>
                                                        </th>
                                                         <th class="sort" data-sort="nomProduit">idevent</th>
                                             <th class="sort" data-sort="ref">titre</th>
                                             <th class="sort" data-sort="marque">description</th>
                                             <th class="sort" data-sort="prix">Image</th>
                                             <th class="sort" data-sort="quantite">Date_debut</th>
                                             <th class="sort" data-sort="taille">Date_fin</th>
                                             <th class="sort" data-sort="type sport"> idterrain</th>
                                             <th class="sort" data-sort="desc">idsponso</th>
                                             <th class="sort" data-sort="image">iduser</th>
                                             <th class="sort" data-sort="action">Action</th>
                                                    </tr>
                                                </thead>
  {% for a in e %}
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                    </div>
                </th>
                <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ2101</a></td>
                <td class="nomProduit"  style="max-width: 90px; ">{{ a.idevent }}</td>
                <td class="ref">{{ a.titre }}</td>
                <td class="marque">{{ a.description }}</td>
                <td class="prix">{{  a.image }}</td>
                
                
                <td class="quantite">{{  a.datedebut|date('Y-m-d H:i:s') }}</td>
                <td class="taille">{{ a.datefin|date('Y-m-d H:i:s') }}</td>
                <td class="type sport">{{ a.idterrain.nom }}</td>
                <td class="desc" style="max-width: 100px; white-space: pre-wrap; overflow-wrap: break-word;">{{  a.idsponso.nom }}</td>
                <td class="image" style="max-width: 100px; white-space: pre-wrap; overflow-wrap: break-word;">{{  a.iduser.nom }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <div class="edit">
                     <a   href="{{ path('event_edit', {'idevent': a.idevent}) }}">Modifier</a>
                        </div>
                        <div class="remove">
                      <a   href="{{ path('event_delete', {'idevent': a.idevent}) }}">Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr> 
            {% endfor %}
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                    <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any orders for you search.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-end">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev disabled" href="javascript:void(0);">
                                                    Previous
                                                </a>
                                                <ul class="pagination listjs-pagination mb-0"></ul>
                                                <a class="page-item pagination-next" href="javascript:void(0);">
                                                    Next
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end col -->
                    </div>

                    

          

                    

{% endblock %}