{% extends 'home/front.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h1 class="text-center">Register</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                <div class="mb-3">
                    {{ form_row(registrationForm.pseudo, {'attr': {'class': 'form-control', 'placeholder': 'Pseudo'}}) }}
                    <div class="error-message">{{ form_errors(registrationForm.pseudo) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    <div class="error-message">{{ form_errors(registrationForm.nom) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                    <div class="error-message">{{ form_errors(registrationForm.prenom) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.age, {'attr': {'class': 'form-control', 'placeholder': 'Age'}}) }}
                    <div class="error-message">{{ form_errors(registrationForm.age) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.numTel, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone'}}) }}
                    <div class="error-message">{{ form_errors(registrationForm.numTel) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    <div class="error-message">{{ form_errors(registrationForm.email) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.cin, {'attr': {'class': 'form-control', 'placeholder': 'CIN'}}) }}
                    <div class="error-message">{{ form_errors(registrationForm.cin) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.plainPassword, { 'label': 'Password', 'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                    <div class="error-message">{{ form_errors(registrationForm.plainPassword) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.roles) }}
                    <div class="error-message">{{ form_errors(registrationForm.roles) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.agreeTerms) }}
                    <div class="error-message">{{ form_errors(registrationForm.agreeTerms) }}</div>
                </div>

                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
