{% extends 'back.html.twig' %}

{% block body %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                        <h4 class="mb-sm-0">Listjs</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                <li class="breadcrumb-item active">Listjs</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Add, Edit & Remove</h4>
                        </div><!-- end card header -->

                        <div class="card-body">
                            <div class="listjs-table" id="customerList">
                                <div class="row g-4 mb-3">
                                    <div class="col-sm-auto">
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <input type="text" class="form-control search" placeholder="Rechercher par nom de user, nom de pack, nom de terrain ou numéro de téléphone..." id="searchInput">
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive table-card mt-3 mb-1">
                                <table class="table align-middle table-nowrap" id="customerTable">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" style="width: 50px;">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                </div>
                                            </th>
                                            <th class="sort" data-sort="id">Id</th>
                                            <th class="sort" data-sort="date">Date</th>
                                            <th class="sort" data-sort="prix">Prix</th>
                                            <th class="sort" data-sort="terrainId">TerrainId</th>
                                            <th class="sort" data-sort="nomPack">NomPack</th>
                                            <th class="sort" data-sort="nomTerrain">NomTerrain</th>
                                            <th class="sort" data-sort="nomUser">NomUser</th>
                                            <th class="sort" data-sort="numtel">NumeroTel</th>
                                            <th class="sort" data-sort="prixTotal">PrixTotal</th>

                                        </tr>
                                    </thead>
                                    {% for abonnement in abonnements %}
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                            </div>
                                        </th>
                                        <td>{{ abonnement.id }}</td>
                                        <td>{{ abonnement.date ? abonnement.date|date('Y-m-d') : '' }}</td>
                                        <td>{{ abonnement.prix }}</td>
                                        <td>{{ abonnement.terrain.id }}</td>
                                        <td>{{ abonnement.pack is not null ? abonnement.pack.nom : '' }}</td> <!-- Afficher le nom du pack -->
                                        <td>{{ abonnement.terrain.nom }}</td>
                                        <td data-user-name="{{ abonnement.nomuser }}">{{ abonnement.nomuser }}</td>
                                        <td>{{ abonnement.numtel }}</td>
                                        <td>{{ abonnement.prixtotal }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <div class="noresult" style="display: none">
                                    <div class="text-center">
                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                        <h5 class="mt-2">Sorry! No Result Found</h5>
                                        <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any orders for you search.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <div class="pagination-wrap hstack gap-2">
                                    <a class="page-item pagination-prev disabled" href="javascript:void(0);">
                                        Previous
                                    </a>
                                    <ul class="pagination listjs-pagination mb-0"></ul>
                                    <a class="page-item pagination-next" href="javascript:void(0);">
                                        Next
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('searchInput');
    const rows = document.querySelectorAll('#customerTable tbody tr');

    searchInput.addEventListener('input', function() {
        const searchText = this.value.trim().toLowerCase();

        rows.forEach(row => {
            const userName = row.querySelector('td[data-user-name]').getAttribute('data-user-name').trim().toLowerCase();
            const nomPack = row.querySelector('td:nth-child(6)').textContent.trim().toLowerCase(); // Récupérer le nom du pack
            const nomTerrain = row.querySelector('td:nth-child(7)').textContent.trim().toLowerCase(); // Récupérer le nom du terrain
            const numTel = row.querySelector('td:nth-child(9)').textContent.trim(); // Récupérer le numéro de téléphone
            

            // Vérifier si le texte de recherche correspond à au moins un des critères
            if (userName.includes(searchText) || nomPack.includes(searchText) || nomTerrain.includes(searchText) || numTel === searchText ) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
});

    </script>






            <script>
               document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('searchInput');
    const rows = document.querySelectorAll('#customerTable tbody tr');

    searchInput.addEventListener('input', function() {
        const searchText = this.value.trim().toLowerCase();

        rows.forEach(row => {
            const userName = row.querySelector('td[data-user-name]').getAttribute('data-user-name').trim().toLowerCase();

            if (userName.includes(searchText)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
});

            </script>



            {% endblock %}
