    {% extends 'home/front.html.twig' %}

    {% block title %}Utilisateurs{% endblock %}
    {% block st %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            body{
                margin-top:20px;
                color: #1a202c;
                text-align: left;
                background-color: #e2e8f0;
            }
            .main-body {
                padding: 15px;
            }
            .card {
                box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
            }

            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 0 solid rgba(0,0,0,.125);
                border-radius: .25rem;
            }

            .card-body {
                flex: 1 1 auto;
                min-height: 1px;
                padding: 1rem;
            }

            .gutters-sm {
                margin-right: -8px;
                margin-left: -8px;
            }

            .gutters-sm>.col, .gutters-sm>[class*=col-] {
                padding-right: 8px;
                padding-left: 8px;
            }
            .mb-3, .my-3 {
                margin-bottom: 1rem!important;
            }

            .bg-gray-300 {
                background-color: #e2e8f0;
            }
            .h-100 {
                height: 100%!important;
            }
            .shadow-none {
                box-shadow: none!important;
            }

        </style>
    {% endblock %}

    {% block body %}
        <body>
        <br><br>

        <div class="container">
            <div class="main-body">
                <div class="progress mb-3" style="height: 5px">
                    {% set totalFields = 11 %} {# Total number of fields in the database #}
                    {% set filledFields = 0 %} {# Initialize the count of non-null fields #}
                    {% if app.user.pseudo is not null %}{% set filledFields = filledFields + 1 %}{% endif %}
                    {% if app.user.roles is not null %}{% set filledFields = filledFields + 1 %}{% endif %}
                    {% if app.user.password is not null %}{% set filledFields = filledFields + 1 %}{% endif %}
                    {% if app.user.cin is not null %}{% set filledFields = filledFields + 1 %}{% endif %}
                    {% if app.user.nom is not null %}{% set filledFields = filledFields + 1 %}{% endif %}
                    {% if app.user.prenom is not null %}{% set filledFields = filledFields + 1 %}{% endif %}
                    {% if app.user.age is not null %}{% set filledFields = filledFields + 1 %}{% endif %}
                    {% if app.user.numTel is not null %}{% set filledFields = filledFields + 1 %}{% endif %}
                    {% if app.user.email is not null %}{% set filledFields = filledFields + 1 %}{% endif %}
                    {% if app.user.isVerified == 1 %}{% set filledFields = filledFields + 1 %}{% endif %}
                    {% if app.user.pictureUrl is not null %}{% set filledFields = filledFields + 1 %}{% endif %}

                    {% if filledFields == totalFields %}
                        {% set progress = 100 %}
                    {% else %}
                        {% set progress = (filledFields / totalFields) * 100 %}
                    {% endif %}
                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <br>
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="{{ path('app_utilisateurs_profile_pic', {'filename': app.user.pictureUrl|split('/')|last}) }}" alt="Admin" class="rounded-circle" width="150">
                                    <div class="mt-3">
                                        <h4>{{ app.user.pseudo }}</h4>
                                        <p class="text-secondary mb-1">{{ app.user.nom ~' '~app.user.prenom }}</p>
                                        {% for role in app.user.roles %}
                                        <p class="text-muted font-size-sm">{% if not loop.last %}{{ app.user.roles | join(', ') }}{% endif %}</p>
                                        {% endfor %}
                                        <div class="mt-3">
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <form style="margin-left: 5px" id="profile-picture-form" action="{{ path('update_profile_picture', {'id': app.user.id}) }}" method="POST" enctype="multipart/form-data">
                                                        <input type="file" id="profile-picture-input" name="profile_picture" style="display: none;" onchange="document.getElementById('profile-picture-form').submit();">
                                                        <label for="profile-picture-input" class="btn btn-primary btn-block">Update Picture</label>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <form style="margin-right: 5px" action="{{ path('delete_profile_picture', {'id': app.user.id}) }}" method="POST">
                                                        <button type="submit" class="btn btn-outline-primary btn-block">Delete Picture</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <br><br>
                        <div class="card mt-3">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <a href="{{ path('modifier_pass_utilisateur', {'id': app.user.id}) }}">
                                        <button type="submit" class="btn btn-outline-primary btn-block" style="font-size: 16px; margin-left: 2px"> <i class="fa fa-gear"></i> Confidentiality </button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <br>
                                <div class="row" style="margin-left: 2px">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">First Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ app.user.nom}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="margin-left: 2px">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Last Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{app.user.prenom }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="margin-left: 2px">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ app.user.email }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="margin-left: 2px">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Age</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ app.user.age }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="margin-left: 2px">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        (216){{ app.user.numTel }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="margin-left: 2px">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">CIN</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ app.user.cin }}
                                    </div>
                                </div>
                                <hr>
                                <a href="{{ path('modifier_utilisateur', {'id': app.user.id})}}">
                                    <button class="btn btn-primary" style="margin-left: 45%">Edit Profile</button>
                                </a>
                                <br><br>
                            </div>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
        {{ parent() }}
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript">
        </script>
        </body>
    {% endblock %}
