<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="{{ path('app_back') }}" class="logo logo-dark">
                    <span class="logo-sm">
    <img src="{{ asset('BackEnd/assets/images/logoWeb.png') }}" alt="" width="200" height="50">
                        </span>
                <span class="logo-lg">
    <img src="{{ asset('BackEnd/assets/images/logoWeb.png') }}" alt="" width="200" height="50">
                </span>
        </a>
        <!-- Light Logo-->
        <a href="{{ path('app_back') }}" class="logo logo-light">
                    <span class="logo-sm">
<img src="{{ asset('BackEnd/assets/images/logoWeb.png') }}" alt="" width="200" height="50">
                    </span>
            <span class="logo-lg">
<img src="{{ asset('BackEnd/assets/images/logoWeb.png') }}" alt="" width="200" height="50">
                    </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>


    <div id="scrollbar">
        <div class="container-fluid">


            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>

                <!--Gestion events -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Gestion des utilisateur</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{{ path('app_utilisateurs_index') }}" class="nav-link" data-key="t-crm"> Liste des utilisateur </a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">GestionAbonnement</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="" class="nav-link" data-key="t-crm"> Liste des Packs </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link" data-key="t-ecommerce"> Liste des Abonnements </a>
                            </li>

                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <!--Gestion store -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Gestion store</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="" class="nav-link" data-key="t-crm"> Liste des produits </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link" data-key="t-ecommerce"> Liste des commandes </a>
                            </li>

                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <!-- end gestion store -->


                <!--Gestion events -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Gestion des evenements</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="" class="nav-link" data-key="t-crm"> Liste des evenements </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link" data-key="t-ecommerce"> Liste des sponsors </a>
                            </li>
                            <li class="nav-item">
                                <a href=" " class="nav-link" data-key="t-ecommerce"> Liste des participations </a>
                            </li>

                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <!-- end gestion store -->

            </ul>
            <!-- Sidebar -->
        </div>
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>                    <a class="nav-link" href="{{ path('app_utilisateurs_index') }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApps">
    <i class="ri-apps-2-line"></i> <span data-key="t-apps">Users</span>
</a>