{% extends 'front.html.twig' %}

{% block title %}Liste des terrains{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4">Liste des terrains</h1>
                    <table class="table table-sm table-bordered table-hover text-center align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">capacite</th>
                                <th scope="col">type</th>
                                <th scope="col">prix</th>
                                <th scope="col">disponibilite</th>
                                <th scope="col">Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for terrain in terrains %}
                                <tr>
                                    <td>{{ terrain.nom }}</td>
                                    <td>{{ terrain.capacite }}</td>
                                    <td>{{ terrain.type }}</td>
                                  <td>{{ terrain.prix }}</td>
                                  <td>{{ terrain.disponibilite }}</td>
                                    <td>
                                        <img src="{{ terrain.img }}" alt="Image du terrain" style="max-width: 100px;">
                                    </td>
                                    <td>
                                        <a href="{{ path('edit_terrain', { 'id': terrain.id }) }}">Modifier</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('delete_terrain', { 'id': terrain.id }) }}">Supprimer</a>
                                    </td>
                                    <td>
                                        <a href="">reserver</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr><td colspan="6">Aucun terrain trouvé.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Espace après le tableau -->
    <div style="height: 50px;"></div>
{% endblock %}
