{% extends 'index.html.twig' %}

{% block body %}



  <section class="inner-banner pattern-3" style="margin-top: 0px;">
        <div class="container text-center">
            <h2>Détails sur le produit</h2>
        </div>
    </section>
    <section class="bread-cumb">
        <div class="container text-center">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><span>Details sur le produit</span></li>
            </ul>
        </div>
    </section>
    <section class="sidebar-pages popular-shop-item" >
        <div class="container" style="margin-left: 400px;">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 ">
                    <div class="sidebar-page-content section-padding pb0">
                        <div class="inner-page-wrapper section-padding pt0 white-bg">
                            <div class="product-content-box clearfix">
                                <div class="img-box">
                                    <div class="single-product-carousel-content-box owl-theme owl-carousel">
                                        <div class="item">
    <img src="{{ asset('uploads/images/' ~ produit.image) }}" alt="{{ produit.nom }}" />
</div>
                                        <!-- /.item -->
                                        
                                        <!-- /.item -->
                                        
                                        <!-- /.item -->
                                    </div>
                                    <!-- /.single-product-carousel-content-box owl-theme-owl-carousel -->
                                    <div class="single-product-carousel-thumbnail-box owl-theme owl-carousel">
                                       
                                        <!-- /.item -->
                                        
                                        <!-- /.item -->
                                       
                                        <!-- /.item -->
                                    </div>
                                    <!-- /.single-product-carousel-thumbnail-box owl-theme owl-carousel -->
                                </div>
                                <div class="content-box">
                                     <h2>{{ produit.nom }}</h2>
                                    <div class="review-box">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span>(2 Ratings)</span>
                                        

                                    </div><span class="size" style="font-size: 20px;">Taille : {{ produit.taille }} </span><br>
                                    <span class="size" style="font-size: 20px;">Marque : {{ produit.marque }} </span><br>
                                    <span class="size" style="font-size: 20px;"> Type de Sport : {{ produit.typesport }} </span>
                                    <span class="price">{{ produit.prix }} DT</span>
                                    

                                    <p>{{ produit.description }}</p>
                                    <div class="location-box">
                                        
                                        <div class="add-to-cart-box">
                                            <a href="{{ path('AddCart', {'ref': produit.ref}) }}" class="thm-btn">Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tab-box">
                               
                                
                            </div>
                            <div class="related-product-box">
    <div class="section-title">
        <h1><span>Produits similaires</span></h1>
    </div>
    <!-- /.section-title -->
<div class="related-project-carousel-2col related-product-carousel owl-theme owl-carousel" >
        {% for relatedProduct in relatedProducts %}
            {% if relatedProduct.ref != produit.ref %}
                <div class="item">
                    <div class="single-product-item text-center" style="background-color: #dce6dc;">
                        <div class="img-holder ">
<img src="{{ asset('uploads/images/' ~ relatedProduct.image) }}" alt="{{ relatedProduct.nom }}" style="width: 250px; margin-left: 50px;">
                            <div class="overlay">
                                <div class="icon-holder">
                                    <ul>
                                        <li><a href="{{ path('AddCart', {'ref': relatedProduct.ref}) }}"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="{{ path('MoreDetailsShop', {'ref': relatedProduct.ref}) }}"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /.icon-holder -->
                            </div>
                            <!-- /.overlay -->
                        </div>
                        <!-- /.img-holder -->
                        <div class="title">
                            <h3>{{ relatedProduct.nom }}</h3>
                            <h2>{{ relatedProduct.prix }}</h2>
                        </div>
                        <!-- /.title -->
                    </div>
                    <!-- /.single-product-item text-center -->
                </div>
                <!-- /.item -->
            {% endif %}
        {% endfor %}
    </div>
</div>

                            <!-- /.related-product-box -->
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        <!-- /.inner-page-wrapper -->
                    </div>
                    <!-- /.sidebar-page-content -->
                </div>
                <!-- /.col-md-9 -->
               
                <!-- /.col-md-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.section-padding sidebar-pages -->


<script>
document.addEventListener('DOMContentLoaded', function() {
    var quantityInput = document.getElementById('quantityInput');
    var addToCartBtn = document.getElementById('addToCartBtn');

    addToCartBtn.addEventListener('click', function(event) {
        event.preventDefault(); // Empêche le comportement par défaut du bouton

        var quantity = quantityInput.value;

        // Faire quelque chose avec la quantité, par exemple envoyer une requête AJAX pour ajouter les produits au panier
        // Remplacez cette partie avec votre logique pour ajouter les produits au panier
        console.log('Quantité à ajouter au panier :', quantity);
    });
});

</script>










{% endblock %}